<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function successHandler() {
            $.ajax({
                type: "GET",
                url: "/api/customers",
                success: function (data) {
                    let content = '    <tr>\n' +
                        '        <td>ID</td>\n' +
                        '        <td>First Name</td>\n' +
                        '        <td>Last Name</td>\n' +
                        '        <td>Update</td>\n' +
                        '        <td>Delete</td>\n' +
                        '    </tr>';
                    console.log(data);
                    if(data==null){
                        document.getElementById('customers').innerHTML = content;
                    }else
                        for (let i = 0; i < data.content.length; i++) {
                            content += getCustomer(data.content[i]);
                        }
                    document.getElementById('customers').innerHTML = content;
                }
            })
        }

        function getCustomer(customer) {
            return `<tr><td> ${customer.id}</td><td>${customer.firstName}</td><td>${customer.lastName}</td>`+
                `<td><a class="updateCustomer" href="${customer.id}" onclick="showFormUpdate(this)">Update</a> </td><td><a class="deleteCustomer" href="${customer.id}" onclick="deleteCustomer(this)">Delete</a> </td></tr>`;
        }
        function addNewCustomer() {
            let firstName = $('#firstName').val();
            let lastName = $('#lastName').val();
            let newCustomer = {
                firstName: firstName,
                lastName: lastName
            };

            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(newCustomer),
                url: "/api/customers",
                success: function (data){
                    successHandler();
                }
            });

            event.preventDefault();
        }
        function deleteCustomer(element) {
            let id = element.getAttribute("href");
            console.log(id);
            $.ajax({
                type: "DELETE",
                url: `/api/customers/${id}`,
                success: function (data) {
                    console.log(id);

                    successHandler();
                }

            })

            event.preventDefault();
        }

        function showFormUpdate(element){
            let id = element.getAttribute("href");
            console.log(id);
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                url: `/api/customers/${id}`,
                success: function (data) {
                    console.log(data);
                    console.log(id);
                    $('#id').attr('value',`${data.id}`)
                    $('#firstName').attr('value',`${data.firstName}`)
                    $('#lastName').attr('value',`${data.lastName}`)
                }
            })

            event.preventDefault();
        }

        function updateCustomer() {
            let id = $('#id').val();
            let firstName= $('#firstName').val();
            let lastName= $('#lastName').val();
            let customer={
                firstName:firstName,
                lastName:lastName
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT",
                url: `/api/customers/${id}`,
                data:JSON.stringify(customer),
                success: function (data) {
                    console.log(id);
                    successHandler();
                }
            })

            event.preventDefault();
        }
        function searchCustomer(){
            let search= $('#search').val();

            $.ajax({
                headers:{
                    'Accept':'application/json',
                    'Content-Type': 'application/json'
                },
                type:"GET",
                url: `/api/customers?search=${search}`,
                success:function (data){

                    let str = '    <tr>\n' +
                        '        <td>ID</td>\n' +
                        '        <td>First Name</td>\n' +
                        '        <td>Last Name</td>\n' +
                        '        <td>Action</td>\n' +
                        '    </tr>';

                    for (let i = 0; i < data.content.length; i++) {
                        str += getCustomer(data.content[i]);
                    }
                    document.getElementById('customers').innerHTML = str;
                }
            })

            event.preventDefault();
        }

    </script>
</head>
<body>
<h1>Customer</h1>
<a href="/api/customers/list">List</a>
<form >
    <input type="text" id="search" name="search" placeholder="search">
    <input type="submit" value="Search" onclick="searchCustomer()">
</form>
<form id="addCustomer">
    <table>
        <tr>
            <td><input type="text" id="id" placeholder="id" hidden></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" id="firstName" placeholder="firstName"></td>
        </tr>
        <tr>
            <td>last Name:</td>
            <td><input type="text" id="lastName" placeholder="lastName"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add" onclick="addNewCustomer() "></td>
        </tr>

        <tr>
            <td><input type="submit" value="Update" onclick="updateCustomer() "></td>
        </tr>
    </table>
</form>

<table border="1px" id="customers">
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="cus: ${customer}">
        <tr>
            <td th:text="${cus.id}"></td>
            <td th:text="${cus.firstName}"></td>
            <td th:text="${cus.lastName}"></td>
            <td><a class="updateCustomer" th:href="${cus.getId()}" onclick="showFormUpdate(this)">Update</a></td>
            <td><a class="deleteCustomer" th:href="${cus.getId()}" onclick="deleteCustomer(this)">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>